

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-default {
background: #2c539e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNTM5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzUzOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #2c539e 0%, #2c539e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #2c539e 0%,#2c539e 100%); /* IE10+ */
background: linear-gradient(to right, #2c539e 0%,#2c539e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-8 */
font-size: 16px;
color: #000;
border: 1px solid;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus

{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
}

nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
{
color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 255);
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}



.sidebar {
margin: 10px;
background-color: rgb(250,235,199);
padding: 10px 20px;
border: 1px solid rgb(200, 0, 0);;
border-top: 15px solid rgb(200, 0, 0);;
border-radius: 8px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.sidebar  ul, ol {
padding-left: 0;
margin-left: 0;
padding-bottom: 20px;
color:#2c539e;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
/*text-shadow: 4px 3px 6px rgba(0,0,0,.5);*/
}

.sidebar  li {
font-size: 13px;
list-style: none;
color: #000000;
padding-left: 0;
margin-left: 0;
text-shadow: none
}

.section {
 background-color: rgba(128,128,128,0.7); 
border: 1px solid #2c539e;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
margin-top: 10px;
margin-left: auto;
margin-right: auto;
padding: 15px 15px;
}

#Intestazione  {
color:#2c539e;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
margin-bottom:  20px;
/*text-shadow: 4px 3px 6px rgba(0,0,0,.5);*/
}

.counter  {
color:#000000;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 14px;
}

#Ricette  {
margin-top: 20px;
}

#Counter  {
float: right;
width: 100px;
}

.recipe
{
background-color: rgb(255,255,255);
/*background-color: rgba(128,128,128,0.7);*/
min-height: 87px;
margin-top: 2px;
margin-left: auto;
margin-bottom: 20px;
margin-right: auto;
padding: 5px;
font-size: 14px;
color: #000;
border: 1px solid rgb(200, 0, 0);;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.testo
{
background-color: rgb(255,255,255);
/*background-color: rgba(128,128,128,0.7);*/
margin-top: 2px;
margin-left: auto;
margin-bottom: 20px;
margin-right: auto;
padding: 5px;
font-size: 14px;
color: #000;
border: 1px solid rgb(200, 0, 0);;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
max-height: 200px;
overflow: auto;
}

.recipe .nome {
padding-left: 10px;   
color:#000000;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-size: 14px;
}

.recipe .spec {
    
color:#000000;
font-family: "Arial Black", Arial, Helvetica, sans-serif;
font-size: 12px;
margin: 0px;
}

.thumbnail 
{
float:left;
width:110px;
height:90px;
margin:5px;
}

#myCarousel {
background-color: rgb(255,255,255);
border: 1px solid rgb(75,75,75);
width: 501px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
padding: 15px;
border-radius: 4px;
box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.overlay{
    background:transparent url(images/overlay.png) repeat top left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
}

#displayRecipe {
    position:fixed;
    width:600px;
    top:    160px;
    left:auto;
    right:auto;
    background-color:#fff;
    color:#7F7F7F;
    padding-left: 20px;
    padding-top:20px;
    padding-right: 20px;

    
    border:2px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    z-index:101;
}

a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background:transparent url(images/cancel.png) repeat top left;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
}