<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Che fame da lupo - ricette di cucina</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/bootstrap.css" rel="stylesheet">
         <link href="css/main.css" rel="stylesheet">



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
     
   <div class="row">
        <div class="col-lg-5">
          <img class="hidden-xs" src="logo.png" width="330" height="24" style="margin-top: 40px;">
          
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-3">
                 <img class="hidden-xs" src="lupetto.jpg" width="100" height="95" >
 
        </div>
   </div>
      <!-- Static navbar -->
      <div class="navbar navbar-default ">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Antipasti </a>
              
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Primi <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                
              </ul>
            </li>
                        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secondi <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                
              </ul>
            </li>
                                    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contorni </a>
             
            </li>
                                                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dolci </a>
              
            </li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
      
        
        <div class="col-lg-9 ">
          <div class="section">
          <div id="myCarousel" class="carousel slide img">
   
	<!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="images/DSC01529.JPG" alt="" width="501" height="377">
           
        </div>
        <div class="item">
            <img src="images/DSC01963.JPG" alt="" width="501" height="377">
           
        </div>
        <div class="item">
            <img src="images/DSC02042.JPG" alt="" width="501" height="377">
           
        </div>  
    </div>
    
    </div>
          </div>
        </div>
        <div class="col-lg-3">
      <div class="sidebar">
        Liste veloci
      </div>
      <div class="sidebar">
        Tecniche e preparazioni
      </div>
      <div class="sidebar">
        Le vostre ricette
      </div>
        </div>
        
   </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
$('.carousel').carousel({
  interval: 5000
})

</script>
  </body>
</html>
