<!DOCTYPE html>
  
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Che fame da lupo - ricette di cucina</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'ricette/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ricette/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ricette/css/main.css' %}" />



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
     
   <div class="row">
        <div class="col-lg-5">
          <img class="hidden-xs" src="{% static 'images/logo.png' %}" width="330" height="24" style="margin-top: 40px;">
          
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-3">
                 <img class="hidden-xs" src="{% static 'images/lupetto.jpg' %}" width="100" height="95" >
 
        </div>
   </div>
      <!-- Static navbar -->
      <div class="navbar navbar-default ">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"> </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
              <a onClick=getCategory('1') class="dropdown-toggle" data-toggle="dropdown">Antipasti </a>
              
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Primi <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                
              </ul>
            </li>
                        <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Secondi <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                
              </ul>
            </li>
                                    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contorni </a>
             
            </li>
                                                <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dolci </a>
              
            </li>
          </ul>
          
     
         <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Cerca ricette" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-success">Cerca</button>
          </form>
      </div>

         </div><!--/.nav-collapse -->
         
    <div class="row">
      <div class="col-lg-3 ">
         <div class="sidebar">
       Ricette più votate
      </div>
               <div class="sidebar">
        Le vostre ricette
      </div>
      </div>
        
        <div class="col-lg-6 ">
          <div class="section">
            <div id="Main">
            
              <div id="Counter" class="holder" ></div> 
              <div id="Intestazione"></div>
              
              
              <div id="Ricette">             
              
            </div>
              
              
            </div>
            <div class="overlay" id="overlay" style="display:none;"></div>
            <div id="displayRecipe" style="display: none;">
              <a class="boxclose" id="boxclose"></a>
              
            </div>
            
          <div id="myCarousel" class="carousel slide img">
   
	<!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="images/DSC01529.JPG" alt="" width="501" height="377">
           
        </div>
        <div class="item">
            <img src="images/DSC01963.JPG" alt="" width="501" height="377">
           
        </div>
        <div class="item">
            <img src="images/DSC02042.JPG" alt="" width="501" height="377">
           
        </div>  
    </div>
    
    </div>
          </div>
        </div>
        <div class="col-lg-3">
      <div class="sidebar" >
        <ul id="ListeVeloci">Liste veloci

      </ul>
      </div>
      
      <div class="sidebar">
      <ul>Tecniche e preparazioni
      <li>  Preparazione di base </li>
      <li> Cottura </li>
      <li>  Conservazione</li>
      </ul>
      </div>

        </div>
        
   </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script  type="text/javascript" src="{% static 'ricette/js/underscore-min.js' %}" ></script>
    <script  type="text/javascript" src="{% static 'ricette/js/jquery-1.9.1.min.js' %}" ></script>
    <script  type="text/javascript" src="{% static 'ricette/js/bootstrap.min.js' %}" ></script>
    <script  type="text/javascript" src="{% static 'ricette/js/templates.js' %}" ></script>
    <script  type="text/javascript" src="{% static 'ricette/js/jquery.pages.js' %}" ></script>
    <script  type="text/javascript" src="{% static 'ricette/js/main.js' %}" /></script>

    <script>
$('.carousel').carousel({
  interval: 5000
});
createListeVeloci();

</script>

  </body>
</html>
