body {
    background-color: #eee;
}

.recipeContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.recipeContainer img {
    float: left;
    margin: 10px;
    
}

.recipeContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.recipeContainer button {
    float: right;
    margin: 10px;
}

#addRecipe label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addRecipe label, #addRecipe input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addRecipe label[for="title"], #addRecipe label[for="releaseDate"] {
    clear: both;
}

#addRecipe button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addRecipe div {
    width: 550px;
}

#addRecipe div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}